* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  /* flex-basis aos containers do logotipo com o tamanho de 268px; */
  flex-basis: 268px;
  justify-content: center;
}

.menu-container {
  display: flex;
  /* flex-basis aos containers do container do menu com o tamanho de 500px. */
  flex-basis: 500px;
  /* Adicione uma propriedade Flexbox que modifica a ordem em que o logo e os itens do menu aparecem na tela. */
  order: 1;
  /* Adicione uma propriedade Flexbox que faça o container do menu crescer, quando houver espaço disponível. */
  flex-grow: 1;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* Utilize a propriedade align-self no elemento correto do header para que todos os itens fiquem alinhados ao centro */
  align-self: center;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-direction: column;
  /* Adicione uma propriedade ao seu container de filmes para que ele tenha uma base de 700px */
  flex-basis: 700px;
  /* No container de filmes aplique uma propriedade para expandi-lo, essa propriedade deve ter o valor 10. */
  flex-grow: 10;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  /* adicione para os elementos filhos do seu card uma base de 16% */
  flex-basis: 16%;
  /* faça com que suas div do container de filmes ocupe todo o espaço em branco. */
  flex-grow: 1;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  /* Aplique no seu container aside uma base de 350px.  */
  flex-basis: 350px;
  /* Nos elemento aside, centralize e expanda seu conteúdo. */
  align-self: center;
  flex-grow: 1;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}